<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- right side div -->
                 <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="bg2.jpg" alt="janamdai" class="image-fluid" title="janamdai"/>
                      </figure>
                <!-- left side div -->
                    <P>OOPS</P>
                    <h1>{{errmsg}}</h1>
                    <a href="/"><button>Go Back</button> </a>
                </div>
               
            </div>

        </div>

    </div>
    </div>
    <!-- for footer -->
   {{>footer}}
</body>
</html>