<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                 <!-- right side div -->
                 <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="bg2.jpg" alt="janamdai" class="image-fluid" title="janamdai"/>
                      </figure>
                </div>
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <P>Welcome to weather app</P>
                    <h1>I am A  <span class="text_clr">Mern Stack Developer</span> Youtube and Freelancer</h1>
                    <a href="https://janamsunuwar.netlify.app/"><button>About me</button> </a>
                </div>
               
            </div>

        </div>

    </div>
    </div>
    <!-- for footer -->
   {{>footer}}
</body>
</html>